@model Reminders.ViewModels.SampleTimeViewModel

<div class="container">
    <div class="page-header">
        <h1>Edit this alarm</h1>
        <p>
            Enter time, date, and a description for the alarm
        </p>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" type="time" class="form-control" value="@Model.Time.ToString("HH:mm")" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input id="dateInput" asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Alarm Type</label>
                <select asp-for="AType" asp-items="@Html.GetEnumSelectList<AlarmType>()" class="form-control">
                </select>
                <span asp-validation-for="AType" class="text-danger"></span>
            </div>

            <div class="form-group btn-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
                &nbsp; &nbsp; &nbsp;
                <button class="btn btn-primary" asp-action="Index" asp-controller="Home">Go Back </button>
            </div>
        </form>
    </div>
</div>

