
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" id="myTime">Welcome</h1>
</div>




<script>

    console.log("test");

    function updateTime()
    { 
        var d = new Date().toLocaleTimeString();
        var ele = document.getElementById("myTime");
        ele.innerHTML = `The time is ${d}`;
    }

    setInterval(updateTime, 100);

</script>
